<html>


    <body>
        <h1> Hello, world! </h1>    
        <p>
        This computer is powered by: <%= node['cpu']['0']['mhz'] %>
        It is called: <%= node['hostname'] %>
        It has <%= node['memory']['total'] %>of memory
        Thanks for playing
        This edit is to test a function of Notifies (Template has change)

        </p>
    </body>

</html>